body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.loginContainer {
    text-align: center;
}

.loginBox {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    max-width: 300px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff5722;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e64a19;
}

p {
    margin-top: 10px;
}

a {
    color: #ff5722;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
